* {
	padding: 0px;
	margin: 0px;
}

.carousel-caption {
	color: #efefef; /* gray */
	text-shadow: 1px 1px 15px #000000;
	background: rgba(0,0,0,0.7);
}

@media (max-height: 1024px) and (min-width: 800px) {

.carousel-item {
	height: 92vh;
}

}


@media (max-width: 400px) {
  .carousel-caption h3 {
    font-size: 70%;
    text-align: center;
  }
  .carousel-caption p {
    font-size: 50%;
  }

.form-inline button{
    margin: 0 auto;
}

}


@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}




.nav-item {
  text-align: center;

}

.form-control
}


.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  position: sticky;
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
